[Unit]
Description=Adventure Works app running on Linux

[Service]
WorkingDirectory={{ webroot_path }}
ExecStart=/usr/bin/dotnet ./{{ adv_app_runtime }}
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-advapp
User={{ app_user }}
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_NOLOGO=true

[Install]
WantedBy=multi-user.target